In [1]:
import os
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
DATA_URL_CONFIRMED = 'https://docs.google.com/spreadsheets/d/16-bnsDdmmgtSxdWbVMboIHo5FRuz76DBxsz_BbsEVWA/export?format=csv&id=16-bnsDdmmgtSxdWbVMboIHo5FRuz76DBxsz_BbsEVWA&gid=0'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = "utils/scripts/data_collection/data/argentina_temporal/"
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()

In [21]:
df = pd.read_csv(DATA_URL_CONFIRMED,usecols=['fecha','osm_admin_level_4','nue_casosconf_diff','nue_fallecidos_diff'],parse_dates=['fecha'])
df=df.fillna(0)
df

          fecha    osm_admin_level_4  nue_casosconf_diff  nue_fallecidos_diff
0    2020-02-03                 CABA                 1.0                  0.0
1    2020-03-03        Indeterminado                 0.0                  0.0
2    2020-04-03        Indeterminado                 0.0                  0.0
3    2020-05-03         Buenos Aires                 1.0                  2.0
4    2020-06-03        Indeterminado                 0.0                  0.0
...         ...                  ...                 ...                  ...
9862 2021-05-20             Santa Fe              2947.0                 67.0
9863 2021-05-20  Santiago del Estero               790.0                  9.0
9864 2021-05-20     Tierra del Fuego                90.0                  0.0
9865 2021-05-20              Tucumán               957.0                 26.0
9866 2021-05-20        Indeterminado                 0.0                  0.0

[9867 rows x 4 columns]

In [39]:
df_summary=df.groupby(['fecha','osm_admin_level_4']).sum()\
        .groupby(level=0).cumsum().reset_index()
df_summary

          fecha    osm_admin_level_4  nue_casosconf_diff  nue_fallecidos_diff
0    2020-01-04         Buenos Aires                10.0                  2.0
1    2020-01-04                 CABA                20.0                  3.0
2    2020-01-04                Chaco                32.0                  3.0
3    2020-01-04           Corrientes                33.0                  3.0
4    2020-01-04              Córdoba                39.0                  3.0
...         ...                  ...                 ...                  ...
9727 2021-12-05           Santa Cruz             21141.0                460.0
9728 2021-12-05             Santa Fe             23410.0                484.0
9729 2021-12-05  Santiago del Estero             23752.0                487.0
9730 2021-12-05     Tierra del Fuego             23846.0                488.0
9731 2021-12-05              Tucumán             24475.0                495.0

[9732 rows x 4 columns]

In [42]:
df_summary.loc[df_summary['fecha']=='2021-05-19']['nue_fallecidos_diff'].sum()

9815.0

In [44]:
df_summary.loc[df_summary['fecha']=='2021-05-18']['nue_fallecidos_diff'].sum()

16069.0

In [45]:
9815-16069

-6254

In [ ]:
DICT_PLACES = {'Buenos Aires':'AR-B',
               'CABA':'AR-C',
               'Catamarca':'AR-K',
               'Chaco':'AR-H',
               'Chubut':'AR-U',
               'Corrientes':'AR-W',
               'Córdoba':'AR-X',
               'Entre Ríos':'AR-E',
               'Formosa':'AR-P',
               'Indeterminado':'',
               'Jujuy':'AR-Y',
               'La Pampa':'AR-L',
               'La Rioja': 'AR-F',
               'Mendoza':'AR-M',
               'Misiones': 'AR-N',
               'Neuquén':'AR-Q',
               'Río Negro':'AR-R',
               'Salta':'AR-A',
               'San Juan':'AR-J',
               'San Luis':'AR-D',
               'Santa Cruz':'AR-Z',
               'Santa Fe':'AR-S',
               'Santiago del Estero':'AR-G',
               'Tierra del Fuego':'AR-V',
               'Tucumán':'AR-T'
              }