In [1]:
import os
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
DATA_URL_CONFIRMED = 'https://raw.githubusercontent.com/elhenrico/covid19-Brazil-timeseries/master/confirmed-cases.csv'
DATA_URL_DEATHS = 'https://raw.githubusercontent.com/elhenrico/covid19-Brazil-timeseries/master/deaths.csv'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = "utils/scripts/data_collection/data/brazil_temporal/"
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()
DICT_PLACES={'Acre':'BR-AC',
            'Amapá':'BR-AP',
            'Amazonas':'BR-AM',
            'Pará':'BR-PA',
            'Rondônia':'BR-RO',
            'Roraima':'BR-RR',
            'Tocantins':'BR-TO',
            'Alagoas':'BR-AL',
            'Bahia':'BR-BA',
            'Ceará':'BR-CE',
            'Maranhão':'BR-MA',
            'Paraíba':'BR-PB',
            'Pernambuco':'BR-PE',
            'Piauí':'BR-PI',
            'Rio Grande do Norte':'BR-RN',
            'Sergipe':'BR-SE',
            'Espirito Santo':'BR-ES',
            'Minas Gerais':'BR-MG',
            'Rio de Janeiro':'BR-RJ',
            'São Paulo':'BR-SP',
            'Paraná':'BR-PR',
            'Rio Grande do Sul':'BR-RS',
            'Santa Catarina':'BR-SC',
            'Distrito Federal':'BR-DF',
            'Goiás':'BR-GO',
            'Mato Grosso':'BR-MT',
            'Mato Grosso do Sul':'BR-MS',
            }

In [3]:
df_confirmed=pd.read_csv(DATA_URL_CONFIRMED)
df_confirmed.head()

,Unnamed: 0,Unnamed: 1,26/02/2020,27/02/2020,28/02/2020,29/02/2020,01/03/2020,02/03/2020,03/03/2020,04/03/2020,...,10/05/2021,11/05/2021,12/05/2021,13/05/2021,14/05/2021,15/05/2021,16/05/2021,17/05/2021,18/05/2021,19/05/2021
0,Brasil,BR,1,1,1,2,2,2,2,3,...,15209990,15282705,15359397,15433989,15519525,15586534,15627243,15627475,15657391,15812055
1,Acre,AC,0,0,0,0,0,0,0,0,...,79476,79510,79718,79955,80177,80338,80399,80399,80561,80688
2,Amapá,AP,0,0,0,0,0,0,0,0,...,107899,108094,108287,108454,108719,108880,109070,109070,109272,109625
3,Amazonas,AM,0,0,0,0,0,0,0,0,...,375603,376298,376893,377559,378138,378645,378855,378855,379167,380416
4,Pará,PA,0,0,0,0,0,0,0,0,...,484963,486610,488968,491746,494328,496924,498508,498508,499176,503349

In [13]:
df_confirmed['ISO 3166-2 Code']=df_confirmed['Unnamed: 0'].map(DICT_PLACES)
df_confirmed=df_confirmed.dropna()
df_confirmed.head()

,Unnamed: 0,Unnamed: 1,26/02/2020,27/02/2020,28/02/2020,29/02/2020,01/03/2020,02/03/2020,03/03/2020,04/03/2020,...,11/05/2021,12/05/2021,13/05/2021,14/05/2021,15/05/2021,16/05/2021,17/05/2021,18/05/2021,19/05/2021,ISO 3166-2 Code
1,Acre,AC,0,0,0,0,0,0,0,0,...,79510,79718,79955,80177,80338,80399,80399,80561,80688,BR-AC
2,Amapá,AP,0,0,0,0,0,0,0,0,...,108094,108287,108454,108719,108880,109070,109070,109272,109625,BR-AP
3,Amazonas,AM,0,0,0,0,0,0,0,0,...,376298,376893,377559,378138,378645,378855,378855,379167,380416,BR-AM
4,Pará,PA,0,0,0,0,0,0,0,0,...,486610,488968,491746,494328,496924,498508,498508,499176,503349,BR-PA
5,Rondônia,RO,0,0,0,0,0,0,0,0,...,218956,219688,220425,220719,221169,221387,221387,221871,223294,BR-RO

In [14]:
df_template=pd.read_csv(DATA_TEMPLATE_URL)
df_template=df_template.fillna(0)
#df_template['Confirmed']=df_template['Confirmed'].astype(int)
#df_template['Deaths']=df_template['Deaths'].astype(int)
#df_template['Recovered']=df_template['Recovered'].astype(int)
df_template['Last Update']=LAST_UPDATE
df_template.head()

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
0,AR-B,Argentina,Buenos Aires,2021-05-19T18:50:02.021200,0.0,0.0,0.0
1,AR-K,Argentina,Catamarca,2021-05-19T18:50:02.021200,0.0,0.0,0.0
2,AR-H,Argentina,Chaco,2021-05-19T18:50:02.021200,0.0,0.0,0.0
3,AR-U,Argentina,Chubut,2021-05-19T18:50:02.021200,0.0,0.0,0.0
4,AR-C,Argentina,Ciudad Autonoma de Buenos Aires,2021-05-19T18:50:02.021200,0.0,0.0,0.0

In [15]:
df_template[df_template['ISO 3166-2 Code']=='AR-B']

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
0,AR-B,Argentina,Buenos Aires,2021-05-19T18:50:02.021200,0.0,0.0,0.0

In [19]:
df_confirmed[df_confirmed['ISO 3166-2 Code']=='AR-B']['19/05/2021']

Series([], Name: 19/05/2021, dtype: int64)

In [23]:
day='2021-05-01'
for country_code in df_confirmed['ISO 3166-2 Code']:
    print(day,country_code)
    day_adapted=datetime.strptime(day, '%Y-%m-%d').strftime('%d/%m/%Y')
    value=df_confirmed[df_confirmed['ISO 3166-2 Code']==country_code][day_adapted].values[0]
    df_template.loc[df_template['ISO 3166-2 Code']==country_code,'Confirmed']=int(value)
    
    
    day_adapted=datetime.strptime(day, '%Y-%m-%d').strftime('%d/%m/%Y')
    value=df_confirmed[df_confirmed['ISO 3166-2 Code']==country_code][day_adapted].values[0]
    df_template.loc[df_template['ISO 3166-2 Code']==country_code,'Deaths']=int(value)

2021-05-01 BR-AC
2021-05-01 BR-AP
2021-05-01 BR-AM
2021-05-01 BR-PA
2021-05-01 BR-RO
2021-05-01 BR-RR
2021-05-01 BR-TO
2021-05-01 BR-AL
2021-05-01 BR-BA
2021-05-01 BR-CE
2021-05-01 BR-MA
2021-05-01 BR-PB
2021-05-01 BR-PE
2021-05-01 BR-PI
2021-05-01 BR-RN
2021-05-01 BR-SE
2021-05-01 BR-ES
2021-05-01 BR-MG
2021-05-01 BR-RJ
2021-05-01 BR-SP
2021-05-01 BR-PR
2021-05-01 BR-RS
2021-05-01 BR-SC
2021-05-01 BR-DF
2021-05-01 BR-GO
2021-05-01 BR-MT
2021-05-01 BR-MS

In [24]:
df_template.loc[df_template['ISO 3166-2 Code'].str.contains('BR-')]

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
33,BR-AC,Brazil,Acre,2021-05-19T18:50:02.021200,78016.0,0.0,0.0
34,BR-AL,Brazil,Alagoas,2021-05-19T18:50:02.021200,174476.0,0.0,0.0
35,BR-AP,Brazil,Amapa,2021-05-19T18:50:02.021200,105971.0,0.0,0.0
36,BR-AM,Brazil,Amazonas,2021-05-19T18:50:02.021200,371306.0,0.0,0.0
37,BR-BA,Brazil,Bahia,2021-05-19T18:50:02.021200,905113.0,0.0,0.0
38,BR-CE,Brazil,Ceara,2021-05-19T18:50:02.021200,677152.0,0.0,0.0
39,BR-DF,Brazil,Distrito Federal,2021-05-19T18:50:02.021200,379752.0,0.0,0.0
40,BR-ES,Brazil,Espiritu Santo,2021-05-19T18:50:02.021200,437813.0,0.0,0.0
41,BR-GO,Brazil,Goias,2021-05-19T18:50:02.021200,552461.0,0.0,0.0
42,BR-MA,Brazil,Maranhao,2021-05-19T18:50:02.021200,267548.0,0.0,0.0
43,BR-MT,Brazil,Mato Grosso,2021-05-19T18:50:02.021200,361209.0,0.0,0.0
44,BR-MS,Brazil,Mato Grosso do Sul,2021-05-19T18:50:02.021200,249033.0,0.0,0.0
45,BR-MG,Brazil,Minas Gerais,2021-05-19T18:50:02.021200,1366602.0,0.0,0.0
46,BR-PA,Brazil,Para,2021-05-19T18:50:02.021200,472986.0,0.0,0.0
47,BR-PB,Brazil,Paraiba,2021-05-19T18:50:02.021200,293717.0,0.0,0.0
48,BR-PR,Brazil,Parana,2021-05-19T18:50:02.021200,951882.0,0.0,0.0
49,BR-PE,Brazil,Pernambuco,2021-05-19T18:50:02.021200,408763.0,0.0,0.0
50,BR-PI,Brazil,Piaui,2021-05-19T18:50:02.021200,240868.0,0.0,0.0
51,BR-RJ,Brazil,Rio de Janeiro,2021-05-19T18:50:02.021200,745456.0,0.0,0.0
52,BR-RN,Brazil,Rio Grande do Norte,2021-05-19T18:50:02.021200,224245.0,0.0,0.0
53,BR-RS,Brazil,Rio Grande do Sul,2021-05-19T18:50:02.021200,979807.0,0.0,0.0
54,BR-RO,Brazil,Rondonia,2021-05-19T18:50:02.021200,213117.0,0.0,0.0
55,BR-RR,Brazil,Roraima,2021-05-19T18:50:02.021200,96576.0,0.0,0.0
56,BR-SC,Brazil,Santa Catarina,2021-05-19T18:50:02.021200,890577.0,0.0,0.0
57,BR-SP,Brazil,Sao Paulo,2021-05-19T18:50:02.021200,2918044.0,0.0,0.0
58,BR-SE,Brazil,Sergipe,2021-05-19T18:50:02.021200,203036.0,0.0,0.0
59,BR-TO,Brazil,Tocantins,2021-05-19T18:50:02.021200,160449.0,0.0,0.0