In [3]:
import os
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [91]:
DATA_URL_CONFIRMED = 'https://raw.githubusercontent.com/danielcs88/colombia_covid-19/master/datos/cronologia.csv'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = "utils/scripts/data_collection/data/colombia_temporal/"
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()
DICT_PLACES = {
'Amazonas': 'CO-AMA',
'Antioquia': 'CO-ANT',
'Arauca': 'CO-ARA',
'Atlántico': 'CO-ATL',
'Bogotá D.C.': 'CO-DC',
'Bolívar': 'CO-BOL',
'Boyacá': 'CO-BOY',
'Caldas': 'CO-CAL',
'Caquetá': 'CO-CAQ',
'Casanare': 'CO-CAS',
'Cauca': 'CO-CAU',
'Cesar': 'CO-CES',
'Chocó': 'CO-COR',
'Córdoba': 'CO-CUN',
'Cundinamarca': 'CO-CHO',
'Guainía': 'CO-GUA',
'Guaviare': 'CO-GUV',
'Huila': 'CO-HUI',
'La Guajira': 'CO-LAG',
'Magdalena': 'CO-MAG',
'Meta': 'CO-MET',
'Nariño': 'CO-NAR',
'Norte de Santander': 'CO-NSA',
'Putumayo': 'CO-PUT',
'Quindío': 'CO-QUI',
'Risaralda': 'CO-RIS',
'San Andrés y Providencia': 'CO-SAP',
'Santander': 'CO-SAN',
'Sucre': 'CO-SUC',
'Tolima': 'CO-TOL',
'Valle del Cauca': 'CO-VAC',
'Vaupés': 'CO-VAU',
'Vichada': 'CO-VID',
}

'2021-05-26T01:29:37.211981'

In [99]:
df_confirmed=pd.read_csv(DATA_URL_CONFIRMED)
df_confirmed=df_confirmed[df_confirmed.fecha == '2021-05-26']
df_confirmed['casos']=df_confirmed['casos'].astype(int)
df_confirmed['ISO 3166-2 Code']=df_confirmed['departamento'].map(DICT_PLACES)
df_confirmed=df_confirmed.drop(['dp', 'departamento', 'fecha'], axis = 1).reset_index(drop=True)
df_confirmed=df_confirmed[['ISO 3166-2 Code','casos']]
df_confirmed

   ISO 3166-2 Code   casos
0           CO-VAU    1509
1           CO-GUA    1705
2           CO-VID    1762
3           CO-GUV    2883
4           CO-SAP    5313
5           CO-AMA    6319
6           CO-ARA    7455
7           CO-COR   10971
8           CO-PUT   11689
9           CO-CAQ   18140
10          CO-CAS   19749
11          CO-CAU   33521
12          CO-SUC   33966
13          CO-LAG   35594
14          CO-QUI   43232
15          CO-MET   51431
16          CO-HUI   57723
17          CO-NSA   60013
18          CO-NAR   61456
19          CO-RIS   61666
20          CO-CUN   61757
21          CO-BOY   64451
22          CO-CES   66237
23          CO-MAG   68773
24          CO-CAL   69128
25          CO-TOL   74567
26          CO-BOL   98609
27          CO-SAN  127827
28          CO-CHO  155201
29          CO-VAC  262104
30          CO-ATL  268893
31          CO-ANT  526190
32           CO-DC  924265

In [93]:
df_template=pd.read_csv(DATA_TEMPLATE_URL)
df_template=df_template.fillna(0)
df_template['Confirmed']=df_template['Confirmed'].astype(int)
df_template['Deaths']=df_template['Deaths'].astype(int)
df_template['Recovered']=df_template['Recovered'].astype(int)
df_template['Last Update']=''
df_template.head()

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
0,AR-B,Argentina,Buenos Aires,,0,0,0
1,AR-K,Argentina,Catamarca,,0,0,0
2,AR-H,Argentina,Chaco,,0,0,0
3,AR-U,Argentina,Chubut,,0,0,0
4,AR-C,Argentina,Ciudad Autonoma de Buenos Aires,,0,0,0

In [94]:
for country_region in df_confirmed['ISO 3166-2 Code']:
    value_confirmed=df_confirmed.loc[df_confirmed['ISO 3166-2 Code']==country_region,'casos']
    df_template.loc[df_template['ISO 3166-2 Code']==country_region,'Confirmed']=int(value_confirmed)

In [100]:
df_co=df_template[df_template['ISO 3166-2 Code'].str.contains('CO-')]
df_co

,ISO 3166-2 Code,Country,Subdivision,Last Update,Confirmed,Deaths,Recovered
76,CO-AMA,Colombia,Amazonas,,6319,0,0
77,CO-ANT,Colombia,Antioquia,,526190,0,0
78,CO-ARA,Colombia,Arauca,,7455,0,0
79,CO-ATL,Colombia,Atlantico,,268893,0,0
80,CO-DC,Colombia,Bogota,,924265,0,0
81,CO-BOL,Colombia,Bolivar,,98609,0,0
82,CO-BOY,Colombia,Boyaca,,64451,0,0
83,CO-CAL,Colombia,Caldas,,69128,0,0
84,CO-CAQ,Colombia,Caqueta,,18140,0,0
85,CO-CAS,Colombia,Casanare,,19749,0,0
86,CO-CAU,Colombia,Cauca,,33521,0,0
87,CO-CES,Colombia,Cesar,,66237,0,0
88,CO-COR,Colombia,Choco,,10971,0,0
89,CO-CUN,Colombia,Cordoba,,61757,0,0
90,CO-CHO,Colombia,Cundinamarca,,155201,0,0
91,CO-GUA,Colombia,Guainia,,1705,0,0
92,CO-GUV,Colombia,Guaviare,,2883,0,0
93,CO-HUI,Colombia,Huila,,57723,0,0
94,CO-LAG,Colombia,La Guajira,,35594,0,0
95,CO-MAG,Colombia,Magdalena,,68773,0,0
96,CO-MET,Colombia,Meta,,51431,0,0
97,CO-NAR,Colombia,Narino,,61456,0,0
98,CO-NSA,Colombia,Norte de Santander,,60013,0,0
99,CO-PUT,Colombia,Putumayo,,11689,0,0
100,CO-QUI,Colombia,Quindio,,43232,0,0
101,CO-RIS,Colombia,Risaralda,,61666,0,0
102,CO-SAP,Colombia,San Andres y Providencia,,5313,0,0
103,CO-SAN,Colombia,Santander,,127827,0,0
104,CO-SUC,Colombia,Sucre,,33966,0,0
105,CO-TOL,Colombia,Tolima,,74567,0,0
106,CO-VAC,Colombia,Valle del Cauca,,262104,0,0
107,CO-VAU,Colombia,Vaupes,,1509,0,0
108,CO-VID,Colombia,Vichada,,1762,0,0