In [1]:
import os
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [3]:
DATA_URL = 'https://geovision.uned.ac.cr/oges/archivos_covid/2021_05_28/05_28_21_EXCEL_SERIES.xlsx'
SHEET_CONFIRMED_NAME = '2_1CANT_ACUMULADOS'
SHEET_DEATHS_NAME = '2_3 CANT_FALLECIDOS'
SHEET_RECOVRED_NAME = '2_2 CANT_RECUPERADOS'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = "utils/scripts/data_collection/data/costa_rica_temporal/"
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()
DICT_PLACES = {'Alajuela':'CR-A',
                'Cartago':'CR-C',
                'Guanacaste': 'CR-G',
                'Heredia' :'CR-H',
                'Limón': 'CR-L',
                'Puntarenas': 'CR-P',
                'San José': 'CR-SJ'}

In [10]:
xls = pd.ExcelFile(DATA_URL)

In [4]:
df_confirmed=pd.read_excel(xls,sheet_name=SHEET_CONFIRMED_NAME)
df_confirmed.head()

,cod_provin,provincia,cod_canton,canton,2020-03-15 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-19 00:00:00,2020-03-20 00:00:00,...,2021-05-19 00:00:00,2021-05-20 00:00:00,2021-05-21 00:00:00,2021-05-22 00:00:00,2021-05-23 00:00:00,2021-05-24 00:00:00,2021-05-25 00:00:00,2021-05-26 00:00:00,2021-05-27 00:00:00,2021-05-28 00:00:00
0,1,San José,112,Acosta,0,0,0,0,0,0,...,1149,1156,1162,1168,1172,1183,1191,1194,1200,1210
1,1,San José,110,Alajuelita,0,0,0,0,0,0,...,8263,8305,8336,8375,8413,8443,8481,8516,8565,8601
2,1,San José,106,Aserrí,0,0,0,0,0,0,...,2986,3029,3070,3093,3109,3126,3163,3206,3247,3265
3,1,San José,118,Curridabat,0,0,1,2,3,5,...,5401,5450,5493,5527,5554,5559,5593,5643,5673,5710
4,1,San José,103,Desamparados,4,4,4,4,4,5,...,14927,15076,15195,15320,15420,15482,15579,15708,15830,15954

In [5]:
df_deaths=pd.read_excel(xls,sheet_name=SHEET_DEATHS_NAME)
df_deaths.head()

,cod_provin,provincia,cod_canton,canton,2020-04-21 00:00:00,2020-04-22 00:00:00,2020-04-23 00:00:00,2020-04-24 00:00:00,2020-04-25 00:00:00,2020-04-26 00:00:00,...,2021-05-19 00:00:00,2021-05-20 00:00:00,2021-05-21 00:00:00,2021-05-22 00:00:00,2021-05-23 00:00:00,2021-05-24 00:00:00,2021-05-25 00:00:00,2021-05-26 00:00:00,2021-05-27 00:00:00,2021-05-28 00:00:00
0,1,San José,112,Acosta,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
1,1,San José,110,Alajuelita,0,0,0,0,0,0,...,100,102,102,102,102,102,102,102,102,102
2,1,San José,106,Aserrí,0,0,0,0,0,0,...,26,26,26,26,26,26,26,28,28,28
3,1,San José,118,Curridabat,0,0,0,0,0,0,...,80,81,81,82,83,83,83,83,84,84
4,1,San José,103,Desamparados,1,1,1,1,1,1,...,209,210,211,212,212,215,217,221,222,225

In [6]:
df_recovered=pd.read_excel(xls,sheet_name=SHEET_RECOVRED_NAME)
df_recovered.head()

,cod_provin,provincia,cod_canton,canton,2020-04-16 00:00:00,2020-04-18 00:00:00,2020-04-19 00:00:00,2020-04-20 00:00:00,2020-04-21 00:00:00,2020-04-22 00:00:00,...,2021-05-19 00:00:00,2021-05-20 00:00:00,2021-05-21 00:00:00,2021-05-22 00:00:00,2021-05-23 00:00:00,2021-05-24 00:00:00,2021-05-25 00:00:00,2021-05-26 00:00:00,2021-05-27 00:00:00,2021-05-28 00:00:00
0,1,San José,112,Acosta,0,0,0,0,0,0,...,987,987,995,994,994,994,994,997,997,997
1,1,San José,110,Alajuelita,0,0,0,1,2,3,...,6362,6362,6364,6364,6366,6387,6388,6479,6480,6482
2,1,San José,106,Aserrí,0,0,0,0,0,1,...,2079,2078,2078,2078,2078,2082,2083,2093,2093,2093
3,1,San José,118,Curridabat,1,1,2,2,3,3,...,4719,4720,4886,4886,4886,4887,4887,4942,4942,5112
4,1,San José,103,Desamparados,0,0,0,0,0,3,...,11026,11026,11030,11032,11032,11042,11042,11827,11829,11832

In [7]:
from datetime import datetime

In [8]:
df_confirmed=df_confirmed.groupby('provincia').sum().reset_index()
df_confirmed=df_confirmed.dropna()

day='2021-05-25'
day_splitted=day.split('-')
df_confirmed=df_confirmed.loc[:,['provincia',
                    datetime(int(day_splitted[0]),
                             int(day_splitted[1]),
                             int(day_splitted[2]))
                   ]]


df_confirmed['ISO 3166-2 Code']=df_confirmed['provincia'].map(DICT_PLACES)
df_confirmed

    provincia  2021-05-25 00:00:00 ISO 3166-2 Code
0    Alajuela                60530            CR-A
1     Cartago                28477            CR-C
2  Guanacaste                16539            CR-G
3     Heredia                34202            CR-H
4       Limón                27619            CR-L
5       Otros                  610             NaN
6  Puntarenas                28408            CR-P
7    San José               110514           CR-SJ

In [9]:
df_confirmed

    provincia  2021-05-25 00:00:00 ISO 3166-2 Code
0    Alajuela                60530            CR-A
1     Cartago                28477            CR-C
2  Guanacaste                16539            CR-G
3     Heredia                34202            CR-H
4       Limón                27619            CR-L
5       Otros                  610             NaN
6  Puntarenas                28408            CR-P
7    San José               110514           CR-SJ

In [15]:
df_confirmed.loc[df_confirmed['ISO 3166-2 Code']=='CR-L'].values[0][1]

27619