In [1]:
import os
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
DATA_URL = 'https://raw.githubusercontent.com/RRMaximiliano/covid-shiny-app/main/data/observatorio_nicaragua_dep.csv'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = "utils/scripts/data_collection/data/nicaragua_temporal/"
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()
DICT_PLACES = {'Boaco':'NI-BO',
               'Carazo':'NI-CA',
               'Chinandega':'NI-CI',
               'Chontales':'NI-CO', 
               'EstelÃ\xad':'NI-ES',
               'Granada':'NI-GR', 
               'Jinotega':'NI-JI', 
               'LeÃ³n':'NI-LE', 
               'Madriz':'NI-MD', 
               'Managua':'NI-MN', 
               'Masaya':'NI-MS',
               'Matagalpa':'NI-MT', 
               'Nueva Segovia':'NI-NS', 
               'RACCN':'NI-AN',
               'RACCS':'NI-AS', 
               'Rio San Juan':'NI-SJ',
               'Rivas':'NI-RI'}

In [3]:
df=pd.read_csv(DATA_URL)
df

     departamento        date  cases  deaths
0           Boaco  2020-03-22      1       0
1           Boaco  2020-04-07      2       0
2           Boaco  2020-04-12      3       0
3           Boaco  2020-04-20      4       0
4           Boaco  2020-04-26      7       0
...           ...         ...    ...     ...
2381        Rivas  2021-05-21    680      87
2382        Rivas  2021-05-22    699      87
2383        Rivas  2021-05-23    718      87
2384        Rivas  2021-05-24    737      87
2385        Rivas  2021-05-25    757      87

[2386 rows x 4 columns]

In [8]:
df['ISO 3166-2 Code']=df['departamento'].map(DICT_PLACES)
df[df.date<'2020-03-20']

     departamento        date  cases  deaths ISO 3166-2 Code
386       EstelÃ­  2020-03-18      8       0           NI-ES
387       EstelÃ­  2020-03-19     12       0           NI-ES
567       Granada  2020-03-18      2       0           NI-GR
1079       Madriz  2020-03-18      1       0           NI-MD
1237      Managua  2020-03-18      2       0           NI-MN
1238      Managua  2020-03-19     13       0           NI-MN
1587       Masaya  2020-03-18      1       0           NI-MS
1737    Matagalpa  2020-03-17      1       0           NI-MT
2054        RACCN  2020-03-18      1       0           NI-AN
2269        Rivas  2020-03-17      1       0           NI-RI
2270        Rivas  2020-03-18      3       0           NI-RI
2271        Rivas  2020-03-19      4       0           NI-RI

In [20]:
df['ISO 3166-2 Code'].unique()

array(['NI-BO', 'NI-CA', 'NI-CI', 'NI-CO', 'NI-ES', 'NI-GR', 'NI-JI',
       'NI-LE', 'NI-MD', 'NI-MN', 'NI-MS', 'NI-MT', 'NI-NS', 'NI-AN',
       'NI-AS', 'NI-SJ', 'NI-RI'], dtype=object)

In [9]:
int(df.loc[(df['ISO 3166-2 Code']=='NI-RI')&(df['date']=='2021-05-20')]['cases'].values[0])

662

In [10]:
df['cases_fixed'] = df.groupby(['ISO 3166-2 Code','date'])['cases'].ffill()
df

     departamento        date  cases  deaths ISO 3166-2 Code  cases_fixed
0           Boaco  2020-03-22      1       0           NI-BO            1
1           Boaco  2020-04-07      2       0           NI-BO            2
2           Boaco  2020-04-12      3       0           NI-BO            3
3           Boaco  2020-04-20      4       0           NI-BO            4
4           Boaco  2020-04-26      7       0           NI-BO            7
...           ...         ...    ...     ...             ...          ...
2381        Rivas  2021-05-21    680      87           NI-RI          680
2382        Rivas  2021-05-22    699      87           NI-RI          699
2383        Rivas  2021-05-23    718      87           NI-RI          718
2384        Rivas  2021-05-24    737      87           NI-RI          737
2385        Rivas  2021-05-25    757      87           NI-RI          757

[2386 rows x 6 columns]

In [102]:
from datetime import datetime,timedelta


isos_code_unique=['NI-BO', 'NI-CA', 'NI-CI', 'NI-CO', 'NI-ES', 'NI-GR', 'NI-JI',
                    'NI-LE', 'NI-MD', 'NI-MN', 'NI-MS', 'NI-MT', 'NI-NS', 'NI-AN',
                    'NI-AS', 'NI-SJ', 'NI-RI']
base = datetime.today()
numdays=2
date_list = [(base - timedelta(days=x)).strftime('%Y-%m-%d') for x in range(numdays)]
date_list=sorted(['2021-05-10','2021-05-11'])

df_complete=pd.DataFrame({'date':day,'ISO 3166-2 Code':country,'cases_fixed':np.nan,'deaths_fixed':np.nan} for day in date_list for country in isos_code_unique)
df_complete.head()

         date ISO 3166-2 Code  cases_fixed  deaths_fixed
0  2021-05-10           NI-BO          NaN           NaN
1  2021-05-10           NI-CA          NaN           NaN
2  2021-05-10           NI-CI          NaN           NaN
3  2021-05-10           NI-CO          NaN           NaN
4  2021-05-10           NI-ES          NaN           NaN

In [209]:



df_original = pd.read_csv(DATA_URL)
df_original['ISO 3166-2 Code']=df_original['departamento'].map(DICT_PLACES)

df_template = pd.read_csv(DATA_TEMPLATE_URL)
df_template=df_template.fillna('')
# df_template['Confirmed']=df_template['Confirmed'].astype(int)
# df_template['Deaths']=df_template['Deaths'].astype(int)
# df_template['Recovered']=df_template['Recovered'].astype(int)
# df_template['Last Update']=''
df_template.loc[df_template['ISO 3166-2 Code'].str.contains('NI-'),'Last Update']=LAST_UPDATE

date_list=sorted(df_original['date'].unique())
isos_code_unique=df_original['ISO 3166-2 Code'].unique()

# CREATE ROWS AUSENCES
isos_code_unique=df_original['ISO 3166-2 Code'].unique()
my_date_list=df_original['date'].unique()
df_complete=pd.DataFrame({'date':day,
                    'ISO 3166-2 Code':country,
                    'cases':np.nan,
                    'deaths':np.nan} for country in isos_code_unique for day in date_list)
df_complete

            date ISO 3166-2 Code  cases  deaths
0     2020-03-17           NI-BO    NaN     NaN
1     2020-03-18           NI-BO    NaN     NaN
2     2020-03-19           NI-BO    NaN     NaN
3     2020-03-20           NI-BO    NaN     NaN
4     2020-03-21           NI-BO    NaN     NaN
...          ...             ...    ...     ...
7016  2021-05-21           NI-RI    NaN     NaN
7017  2021-05-22           NI-RI    NaN     NaN
7018  2021-05-23           NI-RI    NaN     NaN
7019  2021-05-24           NI-RI    NaN     NaN
7020  2021-05-25           NI-RI    NaN     NaN

[7021 rows x 4 columns]

In [210]:
df_complete=df_complete.set_index(['ISO 3166-2 Code','date'])
df_original=df_original.set_index(['ISO 3166-2 Code','date'])[['cases','deaths']]
print(df_complete.head(5))
print(df_original.head(5))

                            cases  deaths
ISO 3166-2 Code date
NI-BO           2020-03-17    NaN     NaN
                2020-03-18    NaN     NaN
                2020-03-19    NaN     NaN
                2020-03-20    NaN     NaN
                2020-03-21    NaN     NaN
                            cases  deaths
ISO 3166-2 Code date
NI-BO           2020-03-22      1       0
                2020-04-07      2       0
                2020-04-12      3       0
                2020-04-20      4       0
                2020-04-26      7       0

In [211]:
df_complete.update(df_original)
#df_complete=df_complete.reset_index()

In [223]:
df_complete = df_complete.sort_index(level=1).ffill().reindex(df_complete.index)

In [225]:
df_complete=df_complete.reset_index()
df_complete

     ISO 3166-2 Code        date  cases  deaths
0              NI-BO  2020-03-17    NaN     NaN
1              NI-BO  2020-03-18    1.0     0.0
2              NI-BO  2020-03-19    3.0     0.0
3              NI-BO  2020-03-20    4.0     0.0
4              NI-BO  2020-03-21    3.0     0.0
...              ...         ...    ...     ...
7016           NI-RI  2021-05-21  680.0    87.0
7017           NI-RI  2021-05-22  699.0    87.0
7018           NI-RI  2021-05-23  718.0    87.0
7019           NI-RI  2021-05-24  737.0    87.0
7020           NI-RI  2021-05-25  757.0    87.0

[7021 rows x 4 columns]

In [240]:
df_complete[df_complete['date']=='2021-05-20']['cases'].sum()

19082.0

In [238]:
df_original=df_original.reset_index()

In [239]:
df_original[df_original['date']=='2021-05-20']['cases'].sum()

11324

In [144]:
df_original=df_original.reset_index()