In [1]:
import os
from datetime import datetime, timedelta
import numpy as np
import pandas as pd

In [2]:
DATA_URL = 'https://raw.githubusercontent.com/RRMaximiliano/covid-shiny-app/main/data/observatorio_nicaragua_dep.csv'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = "utils/scripts/data_collection/data/nicaragua_temporal/"
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()
DICT_PLACES = {'Boaco':'NI-BO',
               'Carazo':'NI-CA',
               'Chinandega':'NI-CI',
               'Chontales':'NI-CO', 
               'EstelÃ\xad':'NI-ES',
               'Granada':'NI-GR', 
               'Jinotega':'NI-JI', 
               'LeÃ³n':'NI-LE', 
               'Madriz':'NI-MD', 
               'Managua':'NI-MN', 
               'Masaya':'NI-MS',
               'Matagalpa':'NI-MT', 
               'Nueva Segovia':'NI-NS', 
               'RACCN':'NI-AN',
               'RACCS':'NI-AS', 
               'Rio San Juan':'NI-SJ',
               'Rivas':'NI-RI'}

In [3]:
df=pd.read_csv(DATA_URL)
df['ISO 3166-2 Code']=df['departamento'].map(DICT_PLACES)
###############
iso_code_unique=df['ISO 3166-2 Code'].unique()
date_list=sorted(df['date'].unique())
###############
df=df.sort_values(['ISO 3166-2 Code','date'])
df=df.set_index(['ISO 3166-2 Code','date'])
df=df[['cases','deaths']]
df

                            cases  deaths
ISO 3166-2 Code date
NI-AN           2020-03-18      1       0
                2020-03-24      2       0
                2020-03-30      3       0
                2020-04-24      5       2
                2020-05-03      6       2
...                           ...     ...
NI-SJ           2021-02-14    116      28
                2021-04-15    118      29
                2021-04-28    132      29
                2021-05-11    133      29
                2021-05-15    134      29

[2386 rows x 2 columns]

In [4]:
df_complete=pd.DataFrame({'date':day,'ISO 3166-2 Code':country,'cases':np.nan,'deaths':np.nan} for day in date_list for country in iso_code_unique)
df_complete=df_complete.sort_values(['ISO 3166-2 Code','date'])
df_complete=df_complete.set_index(['ISO 3166-2 Code','date'])
df_complete

                            cases  deaths
ISO 3166-2 Code date
NI-AN           2020-03-17    NaN     NaN
                2020-03-18    NaN     NaN
                2020-03-19    NaN     NaN
                2020-03-20    NaN     NaN
                2020-03-21    NaN     NaN
...                           ...     ...
NI-SJ           2021-05-21    NaN     NaN
                2021-05-22    NaN     NaN
                2021-05-23    NaN     NaN
                2021-05-24    NaN     NaN
                2021-05-25    NaN     NaN

[7021 rows x 2 columns]

In [5]:
df_complete.update(df)
df_complete

                            cases  deaths
ISO 3166-2 Code date
NI-AN           2020-03-17    NaN     NaN
                2020-03-18    1.0     0.0
                2020-03-19    NaN     NaN
                2020-03-20    NaN     NaN
                2020-03-21    NaN     NaN
...                           ...     ...
NI-SJ           2021-05-21    NaN     NaN
                2021-05-22    NaN     NaN
                2021-05-23    NaN     NaN
                2021-05-24    NaN     NaN
                2021-05-25    NaN     NaN

[7021 rows x 2 columns]

In [6]:
df_complete=df_complete.ffill()

In [7]:
df_complete=df_complete.reset_index()

In [9]:
df_complete[df_complete['date']=='2021-05-15'].sum()

ISO 3166-2 Code    NI-ANNI-ASNI-BONI-CANI-CINI-CONI-ESNI-GRNI-JIN...
date               2021-05-152021-05-152021-05-152021-05-152021-0...
cases                                                        15786.0
deaths                                                        3012.0
dtype: object