In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
DATA_URL = 'https://catalogodatos.gub.uy/dataset/560823fe-5ed7-47d2-9b3f-48a6768c6ebf/resource/22626680-4ff1-49e7-a8ad-e580636618b2/download/estadisticas-covid-19.xlsx'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
PATH_CSV = "utils/scripts/data_collection/data/uruguay_temporal/"
PATH_DSRP_DAILY_REPORTS = 'latam_covid_19_data/daily_reports/'
LAST_UPDATE = datetime.today().isoformat()
DICT_PLACES = {'Artigas':'UY-AR',
                'Canelones':'UY-CA',
                'Cerro Largo ':'UY-CL',
                'Cerro Largo\xa0':'UY-CL',
                'Colonia':'UY-CO', 
                'Durazno':'UY-DU',
                'Flores':'UY-FS', 
                'Florida':'UY-FD', 
                'Lavalleja':'UY-LA',
                'Maldonado':'UY-MA',
                'Montevideo':'UY-MO',
                'Paysandú':'UY-PA',
                'Río Negro':'UY-RN',
                'Rivera':'UY-RV',
                'Rocha':'UY-RO', 
                'Salto':'UY-SA', 
                'San José':'UY-SJ',
                'Soriano':'UY-SO', 
                'Tacuarembó':'UY-TA',
                'Treinta y Tres':'UY-TT',
                'Todo el país':np.nan,
}

In [12]:
xls = pd.ExcelFile(DATA_URL)
df=pd.read_excel(xls,'Datos')
df=df[['Fecha','Indicador','Territorio','Valor']]

In [13]:
df['ISO 3166-2 Code']=df['Territorio'].map(DICT_PLACES)
df

,Fecha,Indicador,Territorio,Valor,ISO 3166-2 Code
0,2020-04-09,Casos activos,Artigas,0,UY-AR
1,2020-04-09,Casos activos,Canelones,37,UY-CA
2,2020-04-09,Casos activos,Cerro Largo,0,UY-CL
3,2020-04-09,Casos activos,Colonia,4,UY-CO
4,2020-04-09,Casos activos,Durazno,0,UY-DU
...,...,...,...,...,...
31008,2021-05-17,Personal de la salud Fallecidos,Todo el país,19,NaN
31009,2021-05-17,Cantidad de Tests Total,Todo el país,11184,NaN
31010,2021-05-17,Personas en Cuidados criticos,Todo el país,495,NaN
31011,2021-05-17,Fallecidos,Todo el país,3510,NaN
31012,2021-05-17,Casos nuevos,Todo el país,2399,NaN

In [14]:
df=df.dropna()
df

           Fecha      Indicador      Territorio  Valor ISO 3166-2 Code
0     2020-04-09  Casos activos         Artigas      0           UY-AR
1     2020-04-09  Casos activos       Canelones     37           UY-CA
2     2020-04-09  Casos activos    Cerro Largo       0           UY-CL
3     2020-04-09  Casos activos         Colonia      4           UY-CO
4     2020-04-09  Casos activos         Durazno      0           UY-DU
...          ...            ...             ...    ...             ...
31000 2021-05-17     Fallecidos           Salto    114           UY-SA
31001 2021-05-17     Fallecidos        San José     79           UY-SJ
31002 2021-05-17     Fallecidos         Soriano    113           UY-SO
31003 2021-05-17     Fallecidos      Tacuarembó     88           UY-TA
31004 2021-05-17     Fallecidos  Treinta y Tres     35           UY-TT

[26676 rows x 5 columns]

In [27]:
criterio=((df['Fecha']=='2021-05-17')&
            (df['Indicador']=='Casos activos')&
            (df['ISO 3166-2 Code']=='UY-AR'))

value_confirmed_per_country=df.loc[criterio,'Valor']
value_confirmed_per_country.values[0]

567