In [1]:
import os
from datetime import datetime, timedelta

import numpy as np
import pandas as pd
import requests

In [2]:
PATH_DSRP_DAILY_REPORTS = '../../../latam_covid_19_data/daily_reports/'
DATA_TEMPLATE_URL = 'https://raw.githubusercontent.com/DataScienceResearchPeru/covid-19_latinoamerica/master/latam_covid_19_data/templates/daily_report.csv'
LAST_UPDATE = datetime.today().isoformat()

In [3]:
df_full=pd.DataFrame(columns=pd.read_csv(DATA_TEMPLATE_URL).columns.values)
df_full['Day']=''
df_full

Empty DataFrame
Columns: [ISO 3166-2 Code, Country, Subdivision, Last Update, Confirmed, Deaths, Recovered, Day]
Index: []

In [4]:
list_report_days=os.listdir(PATH_DSRP_DAILY_REPORTS)[:5]
list_report_days

['2020-04-16.csv',
 '2020-06-11.csv',
 '2020-04-10.csv',
 '2021-02-26.csv',
 '2021-02-05.csv']

In [5]:

array_of_dataframes=[]

for d in list_report_days:
    columns_to_read=['ISO 3166-2 Code','Confirmed','Deaths','Recovered']
    df_temp=pd.read_csv(PATH_DSRP_DAILY_REPORTS+d,usecols = columns_to_read)
    df_temp['Day']=pd.to_datetime(d[:-4])
    array_of_dataframes.append(df_temp)

print(len(list_report_days))
print(len(array_of_dataframes))

5
5

In [6]:
df_full = pd.concat(array_of_dataframes)
df_full=df_full.reset_index(drop=True)
df_full=df_full.fillna(0)
df_full['Confirmed']=df_full['Confirmed'].astype(int)
df_full['Deaths']=df_full['Deaths'].astype(int)
df_full['Recovered']=df_full['Recovered'].astype(int)
df_full

     ISO 3166-2 Code  Confirmed  Deaths  Recovered        Day
0               AR-B       8179     255          0 2020-04-16
1               AR-K          0       0          0 2020-04-16
2               AR-H       1445       0          0 2020-04-16
3               AR-U         89       0          0 2020-04-16
4               AR-C       5265     146          0 2020-04-16
...              ...        ...     ...        ...        ...
2035            VE-S          0       0          0 2021-02-05
2036            VE-T          0       0          0 2021-02-05
2037            VE-X          0       0          0 2021-02-05
2038            VE-U          0       0          0 2021-02-05
2039            VE-V          0       0          0 2021-02-05

[2040 rows x 5 columns]

In [7]:
########################
df_time_series=pd.read_csv(DATA_TEMPLATE_URL,usecols=['ISO 3166-2 Code','Country','Subdivision','Last Update'])
df_time_series['Last Update']=LAST_UPDATE

df_time_series_confirmed=df_full
df_time_series_deaths=df_full
df_time_series_recovered=df_full

value=df_time_series_confirmed[df_time_series_confirmed['Day']=='2020-04-16']['Confirmed']
condition=((df_time_series_confirmed['ISO 3166-2 Code']=='AR-B') &
           (df_time_series_confirmed['Day']=='2020-04-16'))
df_time_series.loc[condition,'2020-04-16']=value
df_time_series

,ISO 3166-2 Code,Country,Subdivision,Last Update,2020-04-16
0,AR-B,Argentina,Buenos Aires,2021-05-19T17:10:34.814485,8179.0
1,AR-K,Argentina,Catamarca,2021-05-19T17:10:34.814485,NaN
2,AR-H,Argentina,Chaco,2021-05-19T17:10:34.814485,NaN
3,AR-U,Argentina,Chubut,2021-05-19T17:10:34.814485,NaN
4,AR-C,Argentina,Ciudad Autonoma de Buenos Aires,2021-05-19T17:10:34.814485,NaN
...,...,...,...,...,...
403,VE-S,Venezuela,Tachira,2021-05-19T17:10:34.814485,NaN
404,VE-T,Venezuela,Trujillo,2021-05-19T17:10:34.814485,NaN
405,VE-X,Venezuela,Vargas,2021-05-19T17:10:34.814485,NaN
406,VE-U,Venezuela,Yaracuy,2021-05-19T17:10:34.814485,NaN
407,VE-V,Venezuela,Zulia,2021-05-19T17:10:34.814485,NaN

In [47]:
########################
df_time_series=pd.read_csv(DATA_TEMPLATE_URL,usecols=['ISO 3166-2 Code','Country','Subdivision','Last Update'])
df_time_series['Last Update']=LAST_UPDATE


for day in np.sort(np.array(list_report_days)):
    day=day[:-4]
    for country_code in df_time_series['ISO 3166-2 Code']:  
        condition=((df_full['ISO 3166-2 Code']==country_code) &
                   (df_full['Day']==day))
        value=df_full[condition]['Confirmed'].values[0]
        #print(day,country_code,value)
        condition_time_series=(df_time_series['ISO 3166-2 Code']==country_code)
        
        df_time_series.loc[condition_time_series,day]=value
        
for day in list_report_days:
    day=day[:-4]
    df_time_series[day]=df_time_series[day].astype(int)

In [60]:
list_report_days_numpy=
#format = "%Y-%m-%d" 
#list_report_days_numpy_cutted=[datetime.strptime(x[:-4], format) for x in list_report_days_numpy]

array(['2020-04-10.csv', '2020-04-16.csv', '2020-06-11.csv',
       '2021-02-05.csv', '2021-02-26.csv'], dtype='<U14')